h1{
    font-size: 80px;
    font-family: Impact;
}

p{
    font-size: 35px;
}

button{
    width: 250px;
    height: 80px;
    color: white;
    background-color: rgb(92, 92, 241);
}

button:hover{
    background-color: rgb(66, 161, 66);
}

#displayQuote,#authorName{
    color: gray
}


